#top {
  color: white;
  padding: 5rem;
}

.white, .white a {
  color: white;
}

.bg-cloud {
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%), url("cloud-vanilla.jpg");
  background-blend-mode: color;
}

.grad-bg {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.full-height {
  min-height: 100vh;
}

.full-width {
  min-width: 100%;
}

.pad {
  padding: 1rem;
}

.no-pad {
  padding: 0;
}

.no-margin {
    margin: 0;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.center {
  display: flex;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-direction: column;
}

.title {
  font-size: 4rem;
  overflow-wrap: break-word;
  font-weight: bold;
}

.head {
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-head {
  font-size: 1.5rem;
}

.content {
  font-size: 1.3rem;
  font-weight: bold;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile sizes: scaled by 2.5 */

.mobile .pad {
  padding: 2.5rem!important;
}

.mobile .top {
  margin-top: -10rem;
}

.mobile .title {
  font-size: 10rem;
}

.mobile .head {
  font-size: 6.25rem;
}

.mobile .sub-head {
  font-size: 3.75rem;
}

.mobile .content {
  font-size: 3.25rem;
}

.mobile .contact i {
  font-size: 7.5rem;
}

.mobile .contact a {
  min-height: 11.875rem;
}

.mobile .bio i {
  font-size: 12.5rem;
}

.mobile .left-push, .mobile .right-push {
  margin: auto;
}
